 {% include 'manufacturing/include/header-update.html' %}
 {% load static %}
<link href="{% static 'css/permission/style.css' %}" rel="stylesheet">
<link href="{% static 'css/dist/jquery.tree-multiselect.min.css' %}" rel="stylesheet">
<script src="{% static 'js/vendor/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/manufacturing/jquery.tree-multiselect.js' %}"></script>
{% include 'manufacturing/include/sidebar.html' %}
<!--sidebar end-->
    <section id="main-content">
      <section class="wrapper">
        <div class="">
            <div class="row">
              <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="{% url 'manufacturing:home' %}">Dashboard</a></li>
                    <li><i class="icon_genius"></i>User Management</li>
<!--                    <li><i class="icon_profile"></i><a href="{% url 'manufacturing:signup_sidebar' %}">User Manager</a></li>-->
<!--                    <li><i class="fa fa-file-text-o"></i>Update User Group/Type</li>-->
                </ol>
              </div>
            </div>

           <div class="row">
              <div class="col-lg-12">
                <section class="panel">
                    <div class="panel-body" style="padding: 0; transition: 1s;">
                        <div class="tab tabs">
                            {% if perms.manufacturing.can_user_view_user_list %}
                            <button class="tablinks"> <a href="{% url 'manufacturing:user_list' %}">User List</a></button>
                            {% endif %}
                             {% comment %}{% if perms.manufacturing.can_add_user %}
                            <button class="tablinks"><a href="{% url 'manufacturing:signup_sidebar' %}">Add User</a></button>
                            {% endif %}{% endcomment %}
                            <button class="tablinks"><a href="{% url 'manufacturing:user_group_list' %}">User Group/Type List</a></button>
                            <button class="tablinks active" onclick="openForm(event, 'UpdateGroup')">Update <em>{{ group.name }}</em> Group/Type</button>
                        </div>

                         <div  class="tabcontent"  id="UpdateGroup" style="display: block;">
                            <div style="width: 80%; margin: 0 auto;">
                                 <div class="login-wrap form-horizontal">
                                      <div style="width: 90%; margin: 0 auto;">
                                          <!--  select  -->
                                          <div class="form-group">
                                             <label class="col-sm-12 control-label">
                                                    <p style="float: left;">Select a different group name</p>
                                            </label>
                                               <div class="col-lg-6">
                                                  <select  id="menu" class="form-control">
                                                      <option value="#" name="name">-------</option>
                                                      {% if group_list %}
                                                         {% for group in group_list %}
                                                         <option value="{% url 'manufacturing:user_group_update' group.id  %}">{{ group.name }}</option>
                                                       {% endfor %}
                                                       {% endif %}
                                                        <script>
                                                      function gotosite() {
                                                      window.location = document.getElementById("menu").value; // JQuery:  $("#menu").val();
                                                    }
                                                        </script>
                                                </select>
                                               </div>
                                           <div class="col-lg-6">
                                                 <button id="go" class="btn btn-primary" style="margin: 0 2rem; width: 40%;" onclick="gotosite()">Go</button>
                                           </div>
                                          </div>
                                          <!--  end select  -->
                                          <form method="post" class="form-horizontal">
                                              {% csrf_token %}
                                              {{ form.non_field_errors }}
                                              {{ form.source.errors }}
                                              {{ form.source }}
                                              {{ form.error }}

                                              {% if perms.is_superuser %}
                                              {% endif %}
                                               <div class="form-group">
                                                 <label class="col-sm-12 control-label"> <p style="float: left;">Group/Type Name:</p></label>
                                                   <div class="col-sm-6">
                                                       <input  class="form-control" type="text" name="name" value="{{ group.name }}" maxlength="150" required="" id="id_name">
                                                   </div>
                                               </div>

                                                 <div class="form-group tree-multiselect">
                                                   <label class="col-sm-2 control-label"><h4>Group:</h4></label>
                                                      <div class="col-sm-12">
                                                           {{ form.permissions }}
                                                      </div>
                                                  </div>

                                                  <div class="form-group border-section">
                                                    <button class="btn btn-primary" style="margin-bottom: 1rem;" type="submit">Update</button>
                                                  </div>
                                             </form>
                                         </div>
                                      <script src="{% static 'js/user/group.js' %}"></script>
                                 </div>
                            </div>
                         </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
  </section>
</section>
{% include 'manufacturing/include/javascript-for-permission.html' %}
 </body>
</html>
