{% include 'manufacturing/include/header.html' %}
{% load static %}
{% include 'manufacturing/include/sidebar.html' %}
{% include 'line/error-modal-style.html' %}
<section id="main-content">
  <section class="wrapper">
        <div class="">
            <div class="row">
              <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="{% url 'manufacturing:home' %}">Home</a></li>
                    <li><i class="icon_genius"></i>User Management</li>
<!--                  <li><i class="fa fa-laptop"></i>Admin</li>-->
<!--                    <li><i class="icon_profile"></i><a class="" href="{% url 'manufacturing:user_list' %}">User List</a></li>-->
<!--                  <li><i class="fa fa-square-o"></i>User Manager</li>-->
                </ol>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <section class="panel">
                    <div class="panel-body tab-panel-body">
                        <div class="tab tabs">
                            {% if perms.manufacturing.can_user_delete_user %}
                            <button class="tablinks"><a href="{% url 'manufacturing:user_list' %}">User List</a></button>
                            {% endif %}
                            {% if perms.manufacturing.can_add_user %}
                            <button class="tablinks active" onclick="openForm(event, 'AddUser')" id="defaultOpen">Add User</button>
                            {% endif %}
                            {% if perms.manufacturing.can_view_user_group_list %}
                            <button class="tablinks"><a href="{% url 'manufacturing:user_group_list' %}">User Group/Type List</a></button>
                            {% endif %}
                            <!--<button class="tablinks"><a href="{% url 'manufacturing:user-group' %}">User Group/Type</a></button>-->
                            {% if perms.manufacturing.can_user_view_user_list %}
                            <button class="tablinks"><a href="{% url 'manufacturing:permissions' %}">User Permissions</a></button>
                            {% endif %}
                             {% if perms.manufacturing.can_add_profile %}
                            <button class="tablinks"><a href="{% url 'manufacturing:users_add_profiles' %}">Add Profile</a></button>
                            {% endif %}
                            <!--<button class="tablinks"><a href="{% url 'manufacturing:users_profiles_list' %}">User Profile List</a></button>-->
                            <!--<button class="tablinks" onclick="openForm(event, 'ModifyUserProfile')">Modify User Profile</button>-->
                        </div>
                         <div id="AddUser" class="tabcontent" style="padding: 0 8rem;">
                              <form method="post" class="form-horizontal" action="{% url 'manufacturing:signup_sidebar' %}">
                                  <div class="login-wrap">
                                      <div style="width: 90%; margin: 0 auto;">
                                       {% csrf_token %}
                                       {{ form.non_field_errors }}
                                       {{ form.source.errors }}
                                       {{ form.source }}
                                       {{  messages.error }}
                                         <div class="form-group col-lg-12 section-border">
                                          <div class="profile-h2"><h2 style="margin-bottom: 5px;">Basic Info</h2></div>
                                         </div>
                                          <div class="form-group col-lg-6 section-border">
                                             <div>
                                                  <label class="col-sm-12 control-label">
                                                  <p style="float: left;">UserName:</p>
                                                  </label>
                                             </div>
                                             <div class="col-sm-12">
<!--                                                          <input class="form-control" type="text" name="user_id" value="" maxlength="150" autofocus="" required="" id="id_user_id">-->
                                                 <input class="form-control" type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
                                             </div>
                                             </div>

                                            <!--   ##### email #######-->
                                             <div class="form-group col-lg-6 section-border">
                                             <div>
                                                  <label class="col-sm-12 control-label">
                                                  <p style="float: left;">Email:</p>
                                                  </label>
                                             </div>
                                             <div class="col-sm-12">
                                                <input class="form-control" type="email" name="email" maxlength="254" required="" id="id_email">
                                             </div>
                                             </div>

                                            <!--   ##### first name #######-->
                                             <div class="form-group col-lg-6 section-border">
                                             <div>
                                                  <label class="col-sm-12 control-label">
                                                  <p style="float: left;">First Name:</p>
                                                  </label>
                                             </div>
                                             <div class="col-sm-12">
                                                <input class="form-control" type="text" name="first_name" maxlength="30" id="id_first_name">
                                             </div>
                                             </div>
                                            <!--   ##### last name #######-->
                                             <div class="form-group col-lg-6 section-border">
                                             <div>
                                                  <label class="col-sm-12 control-label">
                                                  <p style="float: left;">Last Name:</p>
                                                  </label>
                                             </div>
                                             <div class="col-sm-12">
                                                <input class="form-control" type="text" name="last_name" maxlength="30" id="id_last_name">
                                             </div>
                                             </div>
                                              <!--   ##### password1 #######-->
                                             <div class="form-group col-lg-12 section-border">
                                             <div class="profile-h2"><h2 style="">Password</h2></div>
                                             </div>

                                              <div class="form-group col-lg-6 section-border">
                                             <div>
                                                  <label class="col-sm-12 control-label">
                                                  <p style="float: left;">New Password:</p>
                                                  </label>
                                             </div>
                                             <div class="col-sm-12">
                                                <input class="form-control" type="password" name="password1" required="" id="id_password1">
                                             </div>
                                             </div>
                                            <!--   ##### password2 #######-->
                                             <div class="form-group col-lg-6 section-border">
                                             <div>
                                                  <label class="col-sm-12 control-label">
                                                  <p style="float: left;">Confirm Password:</p>
                                                  </label>
                                             </div>
                                             <div class="col-sm-12">
                                                 <input class="form-control" type="password" name="password2" required="" id="id_password2">
                                             </div>
                                             </div>
                                            <!--##### department & plant_code ######-->
                                              <div class="form-group col-lg-12 section-border">
                                                   <div class="profile-h2"><h2 style="">Department Info</h2></div>
                                               </div>
                                                <div class="form-group col-lg-6 section-border">
                                                      <label class="col-sm-12 control-label"><p style="float: left;">Department: </p></label>
                                                     <div class="col-sm-12">
                                                       <input class="form-control" type="text" name="department" value="" maxlength="100" required="" id="id_department">
                                                     </div>
                                                 </div>
                                                   {% if form.errors %}
                                                     {% for field in form %}
                                                       {% for error in field.errors %}
                                                        <div id="myModal" class="modal-log">
                                                             <div class="modal-content-error"  style="width: 40%;">
                                                                 <span class="close" data-dismiss="modal" style="z-index: 100;">×</span>
                                                                  <div class="warning-modal-body">
                                                                    <p>{{ error|escape }}</p>
                                                              </div>
                                                         </div>
                                                          <button style="display: none;" id="myBtn">Open Modal</button>
                                                         </div>
                                                        {% endfor %}
                                                     {% endfor %}
                                                   {% endif %}
                                                    {% for error in field.errors %}
                                                      <p style="color: red">{{ error }}</p>
                                                    {% endfor %}
                                                 <button class="btn btn-primary" style="margin-left: 1rem; float: left;" type="submit">Add User</button>
                                             </div>
                                          </div>
                                      </form>
                                </div>
                                <div class="tabcontent">
                                    {% include 'manufacturing/include/profile-form.html' %}
                                </div>
                            </div>
                        </section>
                  </div>
            </div>
        </div>
  </section>
</section>
{% include 'manufacturing/include/javascript-sidebar.html' %}
<script src="{% static 'js/manufacturing/tab.js' %}"></script>
<script src="{% static 'js/line/warning-modal.js' %}"></script>
</body>
</html>
