{% include 'manufacturing/include/error-modal-style.html' %}
{% load static %}
    {% if workorder.status_id.name == "Released" %}
           <button class="icon-text  btn-confirm simple-confirm" data-toggle="modal" data-target="#released{{ workorder.pk }}">
            <img style="width: 22px; margin-left: 3px;"
            src="{% static 'svg/done.svg' %}" alt="icon"><span>Released</span>
           </button>
                  <div class="modal" id="released{{ workorder.pk }}" role="dialog">
                     <div class="modal-content-detail modal-p">
                         <div class="row">
                             <div class="col-sm-12">
                                <section class="panel">
                                 {% comment %}<header class="panel-heading ">Work Order: {{ workorder }}</header>{% endcomment %}
                                      <div class="whole whole-status">
                                          <p> Work Order <strong>{{ workorder.pk }}</strong> has been released. </p>
                                          <div class="modal-button-container">
                                           <div class="flex-button">
                                            <button type="submit" class="nav-user-search-icon btn btn-primary modal-button-blue"
                                            data-dismiss="modal">Ok</button>
                                           </div>
                                          </div>
                                     </div>
                                </section>
                             </div>
                         </div>
                     </div>
                </div>
    {% elif workorder.status_id.name != "Released" and workorder.status_id.name != "Accepted" and workorder.status_id.name == "Generated SN" %}
               <button style="cursor:none" class="icon-text"  data-toggle="modal" data-target="#released1{{ workorder.pk }}">
               <img style="width: 22px; margin-left: 3px;"
                src="{% static 'svg/done.svg' %}" alt="icon"><span>Released</span>
               </button>
                        <div class="modal" id="released1{{ workorder.pk }}" role="dialog">
                         <div class="modal-content-detail modal-p">
                             <div class="row">
                                 <div class="col-sm-12">
                                    <section class="panel">
                                     {% comment %}<header class="panel-heading ">Work Order: {{ workorder.pk }}</header>{% endcomment %}
                                          <div class="whole whole-status">
                                              <p> Work Order <strong>{{ workorder.pk }}</strong> has been Accepted or Released</p>
                                              <div class="modal-button-container">
                                               <div class="flex-button">
                                                 <button type="submit" class="nav-user-search-icon btn btn-primary modal-button-blue"
                                                  data-dismiss="modal">OK</button>
                                               </div>
                                              </div>
                                          </div>
                                    </section>
                                 </div>
                             </div>
                         </div>
                        </div>
     {% elif workorder.status_id.name != "Released" and workorder.status_id.name != "Accepted" and workorder.status_id.name != "Generated SN" %}
               <button style="cursor:none" class="icon-text"  data-toggle="modal" data-target="#nonreleased{{ workorder.pk }}">
               <img style="width: 22px; margin-left: 3px;"
                src="{% static 'svg/release.svg' %}" alt="icon"><span>Release</span>
               </button>
                        <div class="modal" id="nonreleased{{ workorder.pk }}" role="dialog">
                         <div class="modal-content-detail modal-p">
                             <div class="row">
                                 <div class="col-sm-12">
                                    <section class="panel">
                                     {% comment %}<header class="panel-heading ">Work Order: {{ workorder.pk }}</header>{% endcomment %}
                                          <div class="whole whole-status">
                                              <p> Work Order <strong>{{ workorder.pk }}</strong> hasn't been Accepted</p>
                                              <div class="modal-button-container">
                                               <div class="flex-button">
                                                <button type="submit" class="nav-user-search-icon btn btn-primary modal-button-blue"
                                                data-dismiss="modal">OK</button>
                                               </div>
                                              </div>
                                          </div>
                                    </section>
                                 </div>
                             </div>
                         </div>
                      </div>
      {% else %}
              <button class="icon-text"  data-toggle="modal" data-target="#nonreleased1{{ workorder.pk }}">
               <img style="width: 22px; margin-left: 3px;"
                src="{% static 'svg/release.svg' %}" alt="icon"><span>Release</span>
               </button>
                       <div class="modal" id="nonreleased1{{ workorder.pk }}" role="dialog">
                         <div class="modal-content-detail modal-p">
                             <div class="row">
                                 <div class="col-sm-12">
                                    <section class="panel">
                                     {% comment %}<header class="panel-heading ">Work Order: {{ workorder }}</header>{% endcomment %}
                                          <div class="whole" style="background-color: #eeeeee;">
                                              <p> Release Work Order <strong>{{ workorder.pk }}</strong> ?</p>

                                              <form action="{% url 'manufacturing:workorder-status' workorder.pk  %}" method="post" style="display: inline;" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <input type="hidden" class="edit-input-1" name="status_id" value="3">
                                                  <div class="modal-button-container">
                                                  <div class="flex-button">
                                                     <button type="submit" class="nav-user-search-icon btn btn-primary modal-button-red"
                                                     data-dismiss="modal">Cancel</button>
                                                     <button type="submit" class="nav-user-search-icon btn btn-primary modal-button-blue">Ok</button>
                                                  </div>
                                                  </div>
                                              </form>
                                             </div>
                                    </section>
                                 </div>
                             </div>
                         </div>
                    </div>
           {% endif %}
{% load static %}
<script src="{% static 'js/manufacturing/generate.js' %}"></script>
