{% load static %}
<link href="{% static 'css/qms.css' %}" rel="stylesheet">
<div class="inspection_detail no-padding" style="">

       <form method="POST" action= "">

             <div  class="col-sm-6 inspection-form no-padding">
                <div  class="col-sm-4 no-padding">
                 <label class="" for="">PO Number:</label>
                </div>
                <div  class="col-sm-8 no-padding">
                 <input class="form-control-qms" id="" name=""  type="text" value="" style="color: #bbb8b8;">
               </div>
             </div>

            <div  class="col-sm-6 inspection-form no-padding">
                <div  class="col-sm-4 no-padding">
                 <label class="" for="">Receiving Form No.:</label>
                </div>
                <div  class="col-sm-8 no-padding">
                 <input class="form-control-qms" id="" name=""  type="text" value="" style="color: #bbb8b8;">
               </div>
             </div>

             <div  class="col-sm-6 inspection-form no-padding">
                <div  class="col-sm-4 no-padding">
                 <label class="" for="">Supplier:</label>
                </div>
                <div  class="col-sm-8 no-padding">
                 <input class="form-control-qms" id="" name=""  type="text" value="" style="color: #bbb8b8;">
               </div>
             </div>

             <div  class="col-sm-6 inspection-form no-padding">
                <div  class="col-sm-4 no-padding">
                 <label class="" for="">Customer:</label>
                </div>
                <div  class="col-sm-8 no-padding">
                 <input class="form-control-qms" id="" name=""  type="text" value="" style="color: #bbb8b8;">
               </div>
             </div>

        </form>
</div>




