<section class="panel">
   <div class="panel-body" style="height: 380px; overflow-y: scroll; padding: 0;">
        <div class="tab tabs">
            <button class="tablinks active" onclick="openForm(event, 'ReceivingDetail')" id="defaultOpen">Receiving Detail</button>
            {% comment %}<button class="tablinks" onclick="openForm(event, '')"></button>{% endcomment %}

        </div>

        <div id="ReceivingDetail" class="tabcontent no-padding">
            <div class="col-md-12 mobile-tab-table">
                 <table class="table table-striped table-bordered table-sm table-pallet"  style="margin:0; padding: 0;">
                     <thead>
                      <tr class="table-header">
                           <th>Material No.</th>
                           <th>Target Qty</th>
                           <th>Received Qty</th>
                       </tr>
                     </thead>
                     <tbody>


                       <tr>
                          <td>data</td>
                          <td>data</td>
                          <td><input class="form-control-qms" type="text" name="" value="" style="width: 180px;"></td>
                       </tr>

                     </tbody>
                </table>
           </div>
        </div>
       <!--  2nd tab     -->

         <div id="QcRelatedDoc" class="tabcontent">
             <div class="table-header">
                 leave as blank for now
                </div>
        </div>
   </div>
</section>
   <script src="{% static 'js/manufacturing/tab.js' %}"></script>





