{% include 'manufacturing/include/header.html' %}
{% load static %}
{% include 'manufacturing/include/sidebar.html' %}
{% include 'manufacturing/include/error-modal-style.html' %}
    <section id="main-content">
      <section class="wrapper">
        <div class="">
                <div class="row">
                  <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="{% url 'manufacturing:home' %}">Dashboard</a></li>
                        <li><i class="icon_genius"></i><a class="menu-sub-link" href="{% url 'manufacturing:user_list' %}">User Management</a></li>
                        <li><i class="fa fa-file-text-o"></i><a class="" href="{% url 'manufacturing:user_profile' %}">User Profile</a></li>
                        <li><i class="fa fa-file-text-o"></i>Change My Password</li>
                    </ol>
                  </div>
                </div>

                   <div class="row">
                      <div class="col-lg-12">
                        <section class="panel">
                            <div class="panel-body tab-panel-body">
                                <div class="tab tabs">
                                     <button class="tablinks"><a href="{% url 'manufacturing:user_top_update' %}">Edit My Profile</a></button>
                                     <button class="tablinks active-id" id="defaultOpen" onclick="openForm(event, 'UserInfoUpdate')">Change My Password</button>
                                </div>
                                <div  class="tabcontent"  id="UserInfoUpdate" style="display: block;">
                                    <div class="login-wrap">
                                        <div style="width: 50%; margin: 0 auto;">
                                          <form method="POST" id="" class="form-horizontal">
                                                <div class="login-wrap">
                                                    <div style="width: 90%; margin: 0 auto;">
                                                        {% csrf_token %}
                                                             {{ form.non_field_errors }}
                                                             {{ form.source.errors }}
                                                              {{ form.source }}
                                                              {% comment %}{{ form }}{% endcomment %}
                                                                 <!--  username -->
                                                                    <div class="form-group">
                                                                     <div>
                                                                          <label class="col-sm-12 control-label">
                                                                          <p style="float: left;">UserName</p>
                                                                          </label>
                                                                     </div>
                                                                     <div class="col-sm-6">
                                                                             <div class="">
                                                                                <h2 style="color:color: #838483;">{{ user.username }}</h2>
                                                                             </div>
                                                                            <input type="hidden" class="form-control" name="user" maxlength="100" required id="id_user" value="{{ user.id }}">
                                                                         </select>
                                                                     </div>
                                                                     </div>

                                                                     <div class="form-group col-lg-12">
                                                                         <label for="id_old_password">Old password:</label>
                                                                         <input type="password" class="form-control" name="old_password" autofocus="" required="" id="id_old_password">
                                                                         <label for="id_new_password1">New password:</label>
                                                                         <input type="password" class="form-control" name="new_password1" required="" id="id_new_password1">
                                                                         <label for="id_new_password2">New password confirmation:</label>
                                                                         <input type="password" class="form-control" name="new_password2" required="" id="id_new_password2">
                                                                     </div>
                                                                  {% for message in messages %}
                                                                    <div id="myModal" class="modal-password  message-box-bottom">
                                                                         <div class="modal-content-error">
                                                                             <span class="close" data-dismiss="modal" style="z-index: 100;">×</span>
                                                                              <div class="warning-modal-body">
                                                                                <p>{{ message }}</p>
                                                                                  <div class="modal-li">
                                                                                  <hr>
                                                                                  <ul style="width: auto; margin: 0 auto;">
                                                                                      <li>Your password can't be too similar to your other personal information.</li>
                                                                                      <li>Your password must contain at least 8 characters.</li>
                                                                                      <li>Your password can't be a commonly used password.</li>
                                                                                      <li>Your password can't be entirely numeric.</li>
                                                                                  </ul>
                                                                                  </div>
                                                                              </div>
                                                                         </div>
                                                                          <button style="display: none;" id="myBtn">Open Modal</button>
                                                                         </div>
                                                             {% endfor %}
                                                     <button class="btn btn-primary" style="margin-left: 1rem; float: left;" type="submit">Save changes</button>
                                                    </div>
                                                </div>
                                          </form>
                                       </div>
                                 </div>
                             </div>
                        </div>
                    </section>
                 </div>
             </div>
         </div>
     </section>
</section>
{% include 'manufacturing/include/javascript-sidebar.html' %}
<script src="{% static 'js/line/warning-modal.js' %}"></script>
</body>
</html>
