<div class="modal" id="process-popup" role="dialog">
     <div class="row whole whole-status modal-content-detail modal-p">
          <p> Confirm process?</p>
          <div class="modal-button-container">
               <div class="flex-button">
                 <button  class="nav-user-search-icon btn btn-primary modal-button-blue" type="submit" onclick="Process()">Confirm</button>
                 <button  class="nav-user-search-icon btn btn-error modal-button-red" type="submit" data-dismiss="modal">Cancel</button>
               </div>
           </div>
     </div>
</div>