
<!--#################################################################################-->
<!--################### input use for Json ##########################################-->

<input id="salesorder1" name="salesorder1" type="text" value="{{ salesorder.salesorder_id }}" style="display: none;">
<input type="text" id="username" name="username" value="{{ user.get_username }}" style="display: none;">
<input type="text" name="qty" id="sn-string-test-sum" style="display: none;" value="Please remember to save pallet(s).">
<input type="text" id="pallet_array" name="palletlist" value="" style="display: none;">
<!--################### input use for Json ##########################################-->
<!--#################################################################################-->