<div class="col-sm-12" style="padding: 0;">
    <section class="panel">
         <div class="panel-body col-sm-12" style="height: 600px; padding: 0;">
                <div class="tabs" style="border: none; background-color: #f1f1f1; color: #F9F9F9;">
                     <button class="tablinks" id="pallet-info-tab" style="">Pallet Info</button>
                </div>
                <p></p>

                <div class="pallet-tab-content" style="padding: 0;">
                   <div style="height: 55px;">
                     {% include 'production/shipout/shipout_scan_save_result.html' %}
                   </div>
                 <div class="form-horizontal">
                    <div class="mobile-tab-table">
                        <div class="col-sm-6 pallet-button-div-left">
                             <button data-toggle="modal" data-target="#process-popup"  class="btn btn-info pallet-header-button padding-left-0" id="open_input" type="submit">Process</button>
                        </div>
                          <div class="col-sm-6 pallet-button-div-right">
                              <input class="btn btn-info pallet-header-button col-sm-12" type="button" id="btnGetCount" value="Save Pallet" onclick = "CountRows()" />
                        </div>

                        <input id="searchText" class="form-control" type="text" style="display: none;" value="" required/>
                        <div id="content" class="panel-body-table">
                          <table id="save_pallet" class="table table-striped table-bordered table-sm table-pallet" style="margin:0; padding: 0; table-layout: fixed;">
                             <tbody id="" class=" panel-body" style=" padding: 0; margin: 0;">
                                 <tr class="table-header" >
                                       <th class="col-sm-3" style="#a3a2a2; color: #fff;">Pallet</th>
                                       <th class="col-sm-3">SKU No</th>
                                       <th class="col-sm-3">SN</th>
                                 </tr>
                              <tr id="myUL" style="padding: 0; margin: 0; height: 500px; overflow-y: scroll;"></tr>
                             </tbody>
                          </table>
                        </div>
                      {% include 'production/shipout/shipout_js_add_element.html' %}
                    </div>
                 </div>
               </div>
         </div>
    </section>
</div>
