<input type="text" id="count-number" name="count-number" value="" style="display: none;">
<div id="sn-total-list" style="opacity: 0;">sn total</div>
<div id="sn-string-test" style="display: none;">so</div>
<div id="display-sku" style="display: none;"></div>
<div id="SKU-list" style="opacity: 0;">SKU</div>
<!--<input type="text" id="pallet-list" name="pallet-list" value="">-->
<div id="pallet-list" style="display: none;">pallet list</div>
<div id="disp" style="display: none;"></div>
{% include 'production/shipout/shipout-input-for-json.html' %}


