
<div id="NoInPallet" class="tabcontent pallet-tab-content">
    <div class="table-header">
       <div class="navbar-form pallet_open_close_tab" id="mobile-pallet-input">
        <input id="not_in_pallet" class="form-control form-control-replacement" name="pallet_id" type="text" onkeyup="getNotInPalletDetail()" style="width: 100%;" placeholder="Search SN not in pallet..."/>
       </div>
    </div>
    <table class="table table-striped table-bordered table-sm table-pallet" style="margin:0; padding: 0;">
         <tbody>
           <tr class="table-header">
               <th style="padding: 0;">
                <span class="col-sm-6 table-th-pallet scanner-td-pallet">SerialNumber</span>
                <span class="col-sm-6 table-th-pallet scanner-td-model">SKU No</span>
<!--                        <span class="col-sm-3 table-th-pallet scanner-td-qty">Qty</span>-->
               </th>
           </tr>
           <tr>
              <th style="padding: 0;">
                  <ul id="NotInPalletInfo" style="padding: 0; margin: 0; height: 335px; background: #fff; overflow-y: scroll;">
                      {% comment %}{% if serialnumber_list %}
                      {% for serialnumber in serialnumber_list %}
                      {% for palletserialnumber in serialnumber.palletserialnumber_set.all %}
                      {% if palletserialnumber.serialnumber %}{% endif %} {% endfor %}{% endcomment %}


                      {% for snnot in snnot_list %}

                      <li><a class="pallet-a" style="cursor: none;">
                          <span class="col-sm-6 table-th-pallet scanner-td scanner-td-pallet">{{ snnot.serial_number }}</span>
                          <span class="col-sm-6 table-th-pallet scanner-td scanner-td-pallet">{{ snnot.model_id }}</span>
                      </a></li>
                     {% endfor %}
                  </ul>
              </th>
          </tr>
        </tbody>
    </table>
</div>