<input type="hidden" name="status" class="form-control" id="status" value="{{ pallet.status}}">
<input type="hidden" name="full" id="full" class="form-control" value="{{ pallet.full}}">
<input type="hidden" name="full_date" id="full_date" class="form-control" value="{{ pallet.full_date |date:'Y-m-d H:i' }}">
<input type="hidden" name="create_date" id="create_date" class="form-control" value="{{ pallet.create_date |date:'Y-m-d H:i'}}">
<input type="hidden" name="wh_id" id="wh_id" class="form-control" value="{{ pallet.wh_id }}">
<input type="hidden" name="gross_weight" id="gross_weight" class="form-control" value="{{ pallet.gross_weight }}">
<input type="hidden" name="net_weight" id="net_weight" class="form-control" value="{{ pallet.net_weight }}">
<input type="hidden" name="volume_weight" id="volume_weight" class="form-control" value="{{ pallet.volume_weight}}">
<input type="hidden" name="height" id="height" class="form-control" value="{{ pallet.height }}">
<input type="hidden" name="length" id="length" class="form-control" value="{{ pallet.length }}">
<input type="hidden" name="width" id="width" class="form-control" value="{{ pallet.width}}">
<input type="hidden" name="weight" id="weight" class="form-control" value="{{ pallet.weight }}">
