{% include 'manufacturing/include/error-modal-style.html' %}

 <div class="panel-body" style="height: 457px; overflow-y: scroll; padding: 0;">
       <div class="tab tabs">
          <button class="tablinks" style="cursor: none; background-color: #234192; color: #fff;">Pallet Detail</button>
       </div>

       <div id="compare"></div>
             <div class="pallet-tab-content" style="padding: 0;">
                 <div class="form-horizontal">
                    <div class="mobile-tab-table">
                    <!--    ##############################################################################-->
                    <!--    ########################### unpallet button ##################################-->
                    <div class="navbar-form" id="dimension-button" style="margin-bottom: 0;">
                        <button data-toggle="modal" data-target="#save-close-pallet" class="btn btn-info pallet-header-button" id="un-pallet" style="mergin-left: 0; padding: 0;">Un Pallet
                            <strong>&nbsp;{{ pallet.pallet_id }}</strong>
                        </button>
                    </div>
                    <!--    ########################### unpallet button ##################################-->
                    <!--    ##############################################################################-->
                   <table class="table table-striped table-bordered table-sm" id="" style="margin-bottom: 0; transition: 0.5s;">
                        <thead class="table-header">
                        <tr>
                          <th> &nbsp; SerialNumber</th>
                          <th>&nbsp; Status</th>
                          <th> SKU</th>
                          <th> &nbsp; PO</th>
                        </tr>
                       </thead>
                        <tbody>
                          {% for palletserialnumber in pallet.palletserialnumber_set.all %}
                          {% if palletserialnumber.pallet_id_id %}
                        <tr>
                            <th>{{ palletserialnumber.serialnumber }}</th>
                            {% if pallet.status == 0 %}
                            <th>Closed</th>
                            {% else %}
                             <th>Open</th>
                            {% endif %}
                            {% for palletserialnumber in pallet.palletserialnumber_set.all %}
                            {% if palletserialnumber.pallet_id_id %}
                            {% if forloop.last %}
                            <th>{{ palletserialnumber.serialnumber.model_id }}</th>
                            {% for git in git_list %}
                            {% comment %}{% if forloop.first %} {{ git.serialnumber}}
                            <strong>{{ palletserialnumber.serialnumber }}</strong>{%endcomment%}
                            {% if git.serialnumber|stringformat:'s' == palletserialnumber.serialnumber|stringformat:'s' %}
                            <th>{{ git.po_no }}</th>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% endif %}
                            {% endfor%}
                        </tr>
                             {% endif %}
                        </tbody>
                         {% empty %}
                          <div id="myModal" class="modal-log message-box-bottom" style="padding-top: 0;">
                             <div class="modal-content">
                                 <span class="close" data-dismiss="modal" style="z-index: 100;">×</span>
                                  <div class="warning-modal-body">
                                     <p>No related data.</p>
                                   </div>
                               </div>
                            <button style="display: none;" id="myBtn">Open Modal</button>
                         </div>
                         {% endfor %}
                   </table>
                </div>
             </div>
         </div>
     <div id="SplitPallet" class="tabcontent pallet-tab-content">
         <p>test</p>
     </div>
    {% include 'production/palletize/palletize-js.html' %}
 </div>
{% load static %}
<script src="{% static 'js/line/warning-modal.js' %}"></script>
<script src="{% static 'js/manufacturing/tab.js' %}"></script>
<link href="{% static 'css/mobile-version.css' %}" rel="stylesheet">