<style>

.modal-log {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  padding-top: 80px;
  left: 0;

  height: auto;
  width: 100%;

  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  background: none;
}


.modal-log-shipout {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 0;
  left: 0;


  height: auto;
  width: 100%;

  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  background: none;
}


.modal-keypart {
  display: block;
  position: relative;
  z-index: 1;
  padding-top: 200px;
  padding-top: 80px;
  left: 0;

  height: auto;
  width: 100%;

  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  background: none;
}

.modal-shipout {
  display: block;
  position: relative;
  z-index: 1;
  padding-top: 200px;
  padding-top: 0;
  left: 0;
  top: 40px;

  height: auto;
  width: 100%;

  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  background: none;
}

.modal-pallet {
  display: block;
  position: relative;
  z-index: 1;
  padding-top: 200px;
  padding-top: 0;
  left: 0;

  height: auto;
  width: 100%;

  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  background: none;
}

.modal-edit {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;

  height: auto;
  width: 100%;

  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  background: none;
}

.modal-detail {
  display: block;
  position: fixed;
  padding-top: 80px;
  left: 0;
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

}

.modal-password {
  display: block;
  position: fixed;
  z-index: 1;

  padding-top: 80px;
  left: 0;
  height: auto;
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  background: none;
}

.modal-content-error {
  background-color: #b8596b;
  margin: auto;
  padding: 1rem;
  border: 1px solid #e794a3;
  width: 35%;
  box-shadow: 0 1px 15px rgba(0,0,0,0.2);
  transition-duration: 1s;
   -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  color: #fff;
}

.modal-content-pallet {
  background-color: #b8596b;
  margin: auto;
  padding: 0.2rem;
  border: 1px solid #e794a3;
  width: 100%;
  box-shadow: 0 1px 15px rgba(0,0,0,0.2);
  transition-duration: 1s;
   -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}


.modal-content-card-success {
  background-color: #d1ecf1;
  margin: auto;
  padding: 1rem;
  border: 1px solid #8ee2e6;
  width: 35%;
  box-shadow: 0 1px 15px rgba(0,0,0,0.2);
  transition-duration: 1s;
   -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.modal-content-detail {
  background-color: #fff;
  margin: auto;
  padding: 1.5rem;
  width: 55%;
  box-shadow: 0 1px 15px rgba(0,0,0,0.2);
  transition-duration: 1s;
   -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.modal-content-card-success {
  background-color: #d1ecf1;
  margin: auto;
  padding: 1rem;
  border: 1px solid #8ee2e6;
  width: 35%;
  box-shadow: 0 1px 15px rgba(0,0,0,0.2);
  transition-duration: 1s;
   -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.modal-content {
  background-color: #b8596b;
  margin: auto;
  padding: 1rem;
  border: 1px solid #e794a3;
  width: 35%;
  box-shadow: 0 1px 15px rgba(0,0,0,0.2);

  transition-duration: 1s;
   -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}


.modal-content-success {
  background-color: #468e73;
  margin: auto;
  padding: 1rem;
  border: 2px solid #56c39b;
  width: 35%;
  box-shadow: 0 1px 15px rgba(0,0,0,0.2);


  transition-duration: 1s;
   -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}


.close, .close1 {
  color: #222;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
 {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close1:hover,
.close1:focus,
 {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.modal-content p, .modal-content-success p, .modal-content-error p, .modal-content-pallet p{
color: #fff;
text-align: center;
font-size: 16px;

}

.modal-content-card-success p {
color: #797979;
text-align: center;
font-size: 16px;
}



.warning-modal-body {


width: 100%;
}

.modal-li {
margin-top: 2rem;
width: 80%;
margin: 0 auto;
}

ul li p{


font-size: 12px;
}

.modal-content-success warning-modal-body p {
    color: #fff;
    font-size: 16px;
    }

.message-box-bottom {
padding: 0;
bottom: 0;
}

.bottom-message {
width: 100%;
}

.modal .modal-qms-table {
    padding: 1rem;
    background-color: #eeeeee;
    width: 80%;
    padding-bottom: 0;
    height: 80%;
}

.modal-content-detail-qms {
    background-color: #fff;
    margin: auto;

    width: 50%;
    box-shadow: 0 1px 15px rgba(0,0,0,0.2);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    height: 80%;
    overflow: scroll;
    padding: 1rem;
}

.modal-button-container-qms {
    width: auto;
    margin: 0 auto;

    justify-content: center;
    background-color: #eeeeee;

}

@media (max-width: 768px) {
.modal-content {
width: 100%;
}
.modal-content-success {
width: 100%;
}
.modal-content-error{
width: 100%;
}


}
</style>

