{% include 'manufacturing/include/registration-header.html' %}
<body class="login-img3-body">
{% block content %}
 <div class="login-form" style="height: 550px; width: 60%; margin: 150px auto;">
      <div class="col-lg-6 form-left" style="margin-top: 60px;">
            {% if validlink %}
                    <p>Please enter (and confirm) your new password.</p>
                    <form action="" method="post">
                    {% csrf_token %}
                        <table>
                            <tr>
                                <td>{{ form.new_password1.errors }}
                                    <label for="id_new_password1">New password:</label></td>
                                <td>{{ form.new_password1 }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.new_password2.errors }}
                                    <label for="id_new_password2">Confirm password:</label></td>
                                <td>{{ form.new_password2 }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" value="Change my password" /></td>
                            </tr>
                        </table>
                    </form>
                {% else %}
               <div class="input-group col-sm-12">
                    <h1 class="label-register-h1" style="color: #fff;">Password reset failed</h1>
                   <br><br><br>
               </div>
              <div class="input-group col-sm-12">
                    <p style="text-align: left;">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
               </div>
                {% endif %}
       </div>
        <div class="col-lg-6 foxconn-logo" style="margin-top: 180px;">
                {% load static %}
                <img src="{% static 'svg/foxconn-logo-login.svg' %}" alt="icon">
        </div>
</div>
{% endblock %}
</body>
</html>
{% comment %}{% block content %}
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}{% endcomment %}