{% include 'manufacturing/include/registration-header.html' %}
<body class="login-img3-body">
{% block content %}
 <div class="login-form" style="height: 550px; width: 60%; margin: 150px auto;">
      <div class="col-lg-6 form-left" style="margin-top: 60px;">
            <div class="login-wrap login-page-form">
              <div class="input-group col-sm-12">
                  <br><br><br>
                <h1>The password has been changed!</h1>
                 <a class="btn btn-primary btn-lg btn-block" href="{% url 'login' %}" style="color: #fff;"><p>log in again?</p></a>
              </div>
            </div>
      </div>
      <div class="col-lg-6 foxconn-logo" style="margin-top: 180px;">
            {% load static %}
            <img src="{% static 'svg/foxconn-logo-login.svg' %}" alt="icon">
      </div>
</div>
{% endblock %}
</body>
</html>




