<!-- templates/registration/password_reset_form.html -->
{% include 'manufacturing/include/registration-header.html' %}
<body class="login-img3-body">
{% block content %}
 <div class="login-form" style="height: 550px; width: 60%; margin: 150px auto;">
      <div class="col-lg-6 form-left" style="margin-top: 60px;">
          <form method="POST">
            {% csrf_token %}
            <div class="login-wrap login-page-form">
              <div class="input-group col-sm-12">
              <h1 class="label-register-h1" style="color: #fff;">Forgot your password?</h1>
              </div>
              <br><br>
              <div class="input-group col-sm-12">
              <input class="form-control" type="email" name="email" maxlength="254" required="" id="id_email" placeholder="Email...">
              </div>
              <div class="input-group col-sm-12">
              <input class="col-sm-12 btn btn-primary btn-lg btn-block" type="submit" value="Send me instructions!">
              </div>
            </div>
          </form>
       </div>
        <div class="col-lg-6 foxconn-logo" style="margin-top: 180px;">
            {% load static %}
            <img src="{% static 'svg/foxconn-logo-login.svg' %}" alt="icon">
        </div>
</div>
{% endblock %}
</body>
</html>
