{% include 'manufacturing/include/header.html' %}
{% load static %}
<link href="{% static 'css/maskconfig/style.css' %}" rel="stylesheet">
{% include 'manufacturing/include/sidebar.html' %}
<section id="main-content">
        <section class="wrapper">
          <div class="row">
            <div class="col-lg-12">
              <ol class="breadcrumb">
                   <li><i class="fa fa-home"></i><a href="{% url 'manufacturing:home' %}">Dashboard</a></li>
                   <!-- <li><i class="icon_cogs"></i><a href="{% url 'manufacturing:sub_config' %}">Configuration</a></li>-->
                   <li><i class="fa fa-th-list"></i><a href="{% url 'maskconfig:ooba_list' %}">OOBA List</a></li>
                   <li><i class="fa fa-square-o"></i>Create</li>
              </ol>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <section class="panel">
                 <div class="panel-body">
                        <form method="POST" action= "{% url 'maskconfig:create-mask' %}">
                            <div  class="login-wrap mask-container">
                                 <label for="searchID">Model:</label>
                                     <input id="scan_model_input" name="" class="form-control form-control-replacement" type="text" value="" style="color: #bbb8b8;" required placeholder="Search for models..."/>
                                        <section>
                                             {% csrf_token %}
                                             {{ form.non_field_errors }}
                                             {{ form.source.errors }}
                                              {{ form.source }}
                                             <div class="form-group">
                                                 <select onchange="getModel(this);" name="model" class="form-control" id="searchID">
                                                  <option value="">---------</option>
                                                 {% if materialmaster_list %}
                                                 {% for materialmaster in materialmaster_list %}
                                                 <option style="color: #222;" class="query-button" value="{{ materialmaster.pk }}">{{ materialmaster.pk }}</option>
                                                 {% endfor %}
                                                 {% endif %}
                                                 {% if form.errors %}
                                                  <div style="border: 1px solid grey; padding: 0.2rem 1rem; border-radius: 5px; background: #A51F28; color: #fff;"><p><strong>{{form.model.value}} exist in the database!</strong></p></div>
                                                 {% endif %}
                                                 </select>
                                                  <label for="searchID">Rate:</label>
                                                 <input id="ooba_rate" name="" class="form-control" type="text" value=""/>
                                            </div>

                                        <button id="model_button"  class="btn btn-primary" type="submit">Submit</button>
                                    </section>


                                 </div>
                            </form>
                        </div>
              </section>
            </div>
          </div>
      </section>
    </section>
{% include 'manufacturing/include/javascript-sidebar.html' %}
{% load static %}
<script src="{% static 'js/maskconfig/mask.js' %}"></script>
