

{% include 'inspection_query.html' %}
<div class="" style="margin-bottom: 10px;">
<button class="path-button-qms" data-target="#generated" data-toggle="modal" id="" value=""><a class="path-link-qms"><i class="icon_search"></i>&nbsp;Query&nbsp;</a></button>
<!--<button class="path-button-qms" id="" value="" ><a class="path-link-qms"><i class="icon_documents_alt"></i>&nbsp;Report&nbsp;</a></button>-->
<!--<button class="path-button-qms" id="" value="" ><a class="path-link-qms"><i class="icon_pencil"></i>&nbsp;Modify&nbsp;</a></button>-->
</div>