{% include 'manufacturing/include/header.html' %}
{% load static %}
<link href="{% static 'css/maskconfig/style.css' %}" rel="stylesheet">
{% include 'manufacturing/include/sidebar.html' %}
    <section id="main-content">
        <section class="wrapper">
          <div class="row">
            <div class="col-lg-12">
              <ol class="breadcrumb">
                   <li><i class="fa fa-home"></i><a href="{% url 'manufacturing:home' %}">Home</a></li>
                  <li><i class="fa fa-laptop"></i><a href="{% url 'manufacturing:sub_config' %}">Configuration</a></li>
                   <li><i class="fa fa-th-list"></i><a href="{% url 'maskconfig:home' %}">Mask Manager List</a></li>
                   <li><i class="fa fa-square-o"></i>Edit Segment</li>
              </ol>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <section class="panel ">
                <div class="panel-body mask-container">
                  <form method="POST">
                      <section class="login-wrap mask-container">
                           <div class="form-group">
                            {% csrf_token %}
                                <input hidden type="text" name="row_id" value={{row_id}}>
                               <label for="id_position">Position:</label>
                               <input class="form-control"  type="number" name="position" value={{position}} required="" id="id_position">

                               <label for="id_data_type">Data type:</label>
                               <select class="form-control"  name="data_type" onchange="validate()" id="id_data_type">
                                    {% if data_types %}
                                        {% for type in data_types %}
                                            <option value="{{type}}" {% if type == data_type %} selected {% endif %}>
                                                {{type}}
                                            </option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                               <label for="id_name">Name:</label>
                               <input class="form-control"  id="id_name"  type="text" name="name" maxlength="30" required="" value="{{name}}">

                               <label for="id_length">Length:</label>
                               <input class="form-control" id="id_length"  type="number" name="length" required="" disabled="" value="{{length}}" >

                               <label for="id_value">Value:</label>
                               <input class="form-control" id="id_value" type="text" name="value" maxlength="100" required="" value="{{value}}" >
                           </div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                      </section>
                  </form>
                </div>
              </section>
            </div>
          </div>
      </section>
    </section>
<script src="{% static 'js/maskconfig/segment-validation.js' %}"></script>
{% include 'manufacturing/include/javascript-sidebar.html' %}
