{% include 'manufacturing/include/header.html' %}
{% include 'manufacturing/include/sidebar.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% if user.is_authenticated %}
    <section id="main-content" class="login-wrap">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="{% url 'manufacturing:home' %}">Dashboard</a></li>
                <!--<li><i class="icon_cogs"></i><a href="{% url 'manufacturing:sub_config' %}">Configuration</a></li>-->
                <li><i class="fa fa-th-list"></i><a href="{% url 'maskconfig:mask-list-reverse' %}">Mask Manager List</a></li>
                <li><i class="fa fa-th-list"></i>Mask Segment <span style="color: #00a0df; font-size: 18px;"><strong>&nbsp;{{ model }}</strong></span></li>
            </ol>
          </div>
        </div>

        <div class="row">
              <div class="col-sm-12">
                <section class="panel">
                    <div class="whole whole-table">
                      <div class="main-content">
                        <div class="nav-user-search  clearfix header-search-box">
                             <div class="nav top-menu top-button">
                                 <form  class="navbar-form" id="search" action="" method="get">
                                      <div class="nav search-row list-title-search" id="top_menu">
                                      <div><input name="q" class="form-control" type="text" placeholder=" Search"></div>
                                          <div style="width: 30px;">
                                           <button class="nav-user-search-icon" type="submit" style="padding: 0;">
                                             <i _ngcontent-crw-c2="" style="font-size: 3rem;" class="icon_search-2 search-icon text-muted i-Magnifi-Glass1"></i>
                                          </button>
                                          </div>
                                      </div>
                                 </form>
                             </div>
                             <div class="btn top-btn-container top-button top-right">
                              <form action= "{% url 'maskconfig:create-segment' %}" method="GET">
                                <input type="hidden" name='model_number' value="{{ model }}">
                                  <div>
                                    <button type="submit" class="btn btn-primary header-button" style="color: #fff;">Create</button>
                                  </div>
                              </form>
                             </div>
                         </div>
                    </div>
                     <!-- #########################################-->
                      {% include 'maskconfig/masksegment-list-search.html' %}
                     <!-- ############## page  #################### -->
                      {% include 'manufacturing/include/pagination.html' %}
                    </div>
                    <div id="sn-label-container">
                      <div class="segment-label-container">
                        <p>Pattern:</p>
                        <input class="form-control serial-display" type="text"
                              {% if pattern %}
                                value="{{pattern}}"
                              {% else %}
                                value = ''
                              {% endif %}
                              readonly>
                      </div>
                      <div class="segment-label-container">
                        <p>Example:</p>
                        <input class="form-control serial-display" type="text"
                              {% if sample_serial_number %}
                                value="{{sample_serial_number}}"
                              {% else %}
                                value = ''
                              {% endif %}
                              readonly>
                      </div>
                    </div>
                </section>
            </div>
          </div>
      </section>
    </section>
 {% include 'manufacturing/include/javascript-sidebar.html' %}
{% endif%}
{% endblock %}
</body>
</html>